basePath: /v1
consumes:
  - application/json
host: www.truckersearch.com
info:
  contact:
    email: support@truckersearch.com
  description: |-
    In order to use the Trucker Search API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.

    api-token=“SECRET KEY”

    Please keep your api-token a secret. If the token is compromised please contact us to get a new one.

    This api token authenticates your application and gives it access to the API.

    The API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.

    Both Tokens are stateless, and delivered via the HTTP headers.
  title: Trucker Search API
  version: '1.0'
  x-logo:
    url: 'https://www.truckersearch.com/home/images/logo-2015.png'
produces:
  - application/json
responses:
  error_422:
    description: Unprocessable Entity. More information provided in the return object.
    schema:
      $ref: '#/definitions/error_object'
  object_created:
    description: Object created check the headers for a reference URL.
    schema:
      $ref: '#/definitions/create_status'
schemes:
  - https
security:
  - api_key: []
securityDefinitions:
  api_key:
    description: This token needs to be sent as a HTTP header argument in every request to our API.
    in: header
    name: api-token
    type: apiKey
swagger: '2.0'
x-restlet:
  sections:
    ALERTS: {}
    END_USER_AUTHENTICATIONS: {}
    FAVORITES: {}
    JOBS: {}
    LOCATIONS: {}
    MESSAGES: {}
    Mobile Update: {}
    Optins: {}
    PROFILES: {}
    RESUMES: {}
    common_definitions: {}
parameters:
  end-user-token:
    in: header
    name: end-user-token
    required: true
    type: string
  end-user-token-optional:
    in: header
    name: end-user-token
    required: false
    type: string
paths:
  /alerts:
    delete:
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
        - in: query
          name: alert_id
          required: true
          type: integer
      responses:
        '204':
          description: Status 204
      summary: STAGE=UNK Delete an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE");
            var request = new RestRequest(Method.DELETE);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE")
              .delete(null)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.delete("https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE",
              "method": "DELETE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("DELETE", "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "DELETE",
              "hostname": "www.truckersearch.com",
              "port": null,
              "path": "/v1/alerts?alert_id=SOME_INTEGER_VALUE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url: 'https://www.truckersearch.com/v1/alerts',
              qs: { alert_id: 'SOME_INTEGER_VALUE' },
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("DELETE", "https://www.truckersearch.com/v1/alerts");

            req.query({
              "alert_id": "SOME_INTEGER_VALUE"
            });

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"DELETE"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers `DELETE uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("DELETE",
            "'https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE'");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.truckersearch.com/v1/alerts');
            $request->setMethod(HTTP_METH_DELETE);

            $request->setQueryData(array(
              'alert_id' => 'SOME_INTEGER_VALUE'
            ));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.truckersearch.com/v1/alerts');
            $request->setRequestMethod('DELETE');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_INTEGER_VALUE'
            )));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.truckersearch.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("DELETE", "/v1/alerts?alert_id=SOME_INTEGER_VALUE", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.truckersearch.com/v1/alerts"

            querystring = {"alert_id":"SOME_INTEGER_VALUE"}

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("DELETE", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request DELETE \
              --url 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE' \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT'
        - lang: Shell_httpie
          source: |-
            http DELETE 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE' \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method DELETE \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.truckersearch.com/v1/alerts?alert_id=SOME_INTEGER_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "DELETE"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    get:
      description: Get a list of alerts. You can optionally limit the list by specifying alerts by their alert_id.
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
        - collectionFormat: multi
          description: only get a subset of alerts. As this is a get request this is specified as a query string parameter
          in: query
          items:
            type: integer
          name: alert_id
          required: false
          type: array
        - description: Currently only resume type is supported.
          enum:
            - resume
            - job
          in: query
          name: search_type
          required: true
          type: string
        - description: Chooses the medium to send the alert through. Push is not yet implemented.
          enum:
            - email
            - text
            - push
          in: query
          name: notification_medium
          required: true
          type: string
      responses:
        '200':
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200'
      summary: STAGE=UNKNOWN Get a list of alerts.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE");
            var request = new RestRequest(Method.GET);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.get("https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE",
              "method": "GET",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "GET",
              "hostname": "www.truckersearch.com",
              "port": null,
              "path": "/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url: 'https://www.truckersearch.com/v1/alerts',
              qs: 
               { alert_id: 'SOME_ARRAY_VALUE',
                 search_type: 'SOME_STRING_VALUE',
                 notification_medium: 'SOME_STRING_VALUE' },
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("GET", "https://www.truckersearch.com/v1/alerts");

            req.query({
              "alert_id": "SOME_ARRAY_VALUE",
              "search_type": "SOME_STRING_VALUE",
              "notification_medium": "SOME_STRING_VALUE"
            });

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers `GET uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("GET",
            "'https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE'");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.truckersearch.com/v1/alerts');
            $request->setMethod(HTTP_METH_GET);

            $request->setQueryData(array(
              'alert_id' => 'SOME_ARRAY_VALUE',
              'search_type' => 'SOME_STRING_VALUE',
              'notification_medium' => 'SOME_STRING_VALUE'
            ));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.truckersearch.com/v1/alerts');
            $request->setRequestMethod('GET');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_ARRAY_VALUE',
              'search_type' => 'SOME_STRING_VALUE',
              'notification_medium' => 'SOME_STRING_VALUE'
            )));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.truckersearch.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("GET", "/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.truckersearch.com/v1/alerts"

            querystring = {"alert_id":"SOME_ARRAY_VALUE","search_type":"SOME_STRING_VALUE","notification_medium":"SOME_STRING_VALUE"}

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request GET \
              --url 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE' \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT'
        - lang: Shell_httpie
          source: |-
            http GET 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE' \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method GET \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - 'https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.truckersearch.com/v1/alerts?alert_id=SOME_ARRAY_VALUE&search_type=SOME_STRING_VALUE&notification_medium=SOME_STRING_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "GET"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    post:
      consumes: []
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/alert_request_object'
      responses:
        '201':
          $ref: '#/responses/object_created'
      summary: STAGE=UNK Create a new alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/alerts");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.truckersearch.com/v1/alerts");
            var request = new RestRequest(Method.POST);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            request.AddParameter("undefined", "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/alerts\"\n\n\tpayload := strings.NewReader(\"{\\\"notification_medium\\\":\\\"email\\\",\\\"only_new\\\":false,\\\"search_parameters\\\":{\\\"city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"driver_distance\\\":\\\"local\\\",\\\"driver_experience\\\":0,\\\"driver_type\\\":\\\"other\\\",\\\"license_type\\\":\\\"A\\\",\\\"list_direction\\\":\\\"desc\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"radius\\\":0,\\\"region\\\":\\\"east coast\\\",\\\"team_preference\\\":\\\"single\\\"},\\\"search_type\\\":\\\"job\\\",\\\"send_frequency\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}");
            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/alerts")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.post("https://www.truckersearch.com/v1/alerts")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .body("{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.truckersearch.com/v1/alerts",
              "method": "POST",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              },
              "processData": false,
              "data": "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "notification_medium": "email",
              "only_new": false,
              "search_parameters": {
                "city": "<ADD EXAMPLE VALUE>",
                "driver_distance": "local",
                "driver_experience": 0,
                "driver_type": "other",
                "license_type": "A",
                "list_direction": "desc",
                "list_order": "<ADD EXAMPLE VALUE>",
                "radius": 0,
                "region": "east coast",
                "team_preference": "single"
              },
              "search_type": "job",
              "send_frequency": 0
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("POST", "https://www.truckersearch.com/v1/alerts");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "POST",
              "hostname": "www.truckersearch.com",
              "port": null,
              "path": "/v1/alerts",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({ notification_medium: 'email',
              only_new: false,
              search_parameters: 
               { city: '<ADD EXAMPLE VALUE>',
                 driver_distance: 'local',
                 driver_experience: 0,
                 driver_type: 'other',
                 license_type: 'A',
                 list_direction: 'desc',
                 list_order: '<ADD EXAMPLE VALUE>',
                 radius: 0,
                 region: 'east coast',
                 team_preference: 'single' },
              search_type: 'job',
              send_frequency: 0 }));
            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url: 'https://www.truckersearch.com/v1/alerts',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' },
              body: 
               { notification_medium: 'email',
                 only_new: false,
                 search_parameters: 
                  { city: '<ADD EXAMPLE VALUE>',
                    driver_distance: 'local',
                    driver_experience: 0,
                    driver_type: 'other',
                    license_type: 'A',
                    list_direction: 'desc',
                    list_order: '<ADD EXAMPLE VALUE>',
                    radius: 0,
                    region: 'east coast',
                    team_preference: 'single' },
                 search_type: 'job',
                 send_frequency: 0 },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("POST", "https://www.truckersearch.com/v1/alerts");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });

            req.type("json");
            req.send({
              "notification_medium": "email",
              "only_new": false,
              "search_parameters": {
                "city": "<ADD EXAMPLE VALUE>",
                "driver_distance": "local",
                "driver_experience": 0,
                "driver_type": "other",
                "license_type": "A",
                "list_direction": "desc",
                "list_order": "<ADD EXAMPLE VALUE>",
                "radius": 0,
                "region": "east coast",
                "team_preference": "single"
              },
              "search_type": "job",
              "send_frequency": 0
            });

            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };
            NSDictionary *parameters = @{ @"notification_medium": @"email",
                                          @"only_new": @NO,
                                          @"search_parameters": @{ @"city": @"<ADD EXAMPLE VALUE>", @"driver_distance": @"local", @"driver_experience": @0, @"driver_type": @"other", @"license_type": @"A", @"list_direction": @"desc", @"list_order": @"<ADD EXAMPLE VALUE>", @"radius": @0, @"region": @"east coast", @"team_preference": @"single" },
                                          @"search_type": @"job",
                                          @"send_frequency": @0 };

            NSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.truckersearch.com/v1/alerts"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"POST"];
            [request setAllHTTPHeaderFields:headers];
            [request setHTTPBody:postData];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.truckersearch.com/v1/alerts" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in
            let body = Cohttp_lwt_body.of_string "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}" in

            Client.call ~headers ~body `POST uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("POST",
            "https://www.truckersearch.com/v1/alerts");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            $request->content('{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}');
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.truckersearch.com/v1/alerts",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.truckersearch.com/v1/alerts');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $body = new http\Message\Body;
            $body->append('{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}');

            $request->setRequestUrl('https://www.truckersearch.com/v1/alerts');
            $request->setRequestMethod('POST');
            $request->setBody($body);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.truckersearch.com")

            payload = "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}"

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("POST", "/v1/alerts", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.truckersearch.com/v1/alerts"

            payload = "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}"
            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("POST", url, data=payload, headers=headers)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.truckersearch.com/v1/alerts")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Post.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'
            request.body = "{\"notification_medium\":\"email\",\"only_new\":false,\"search_parameters\":{\"city\":\"<ADD EXAMPLE VALUE>\",\"driver_distance\":\"local\",\"driver_experience\":0,\"driver_type\":\"other\",\"license_type\":\"A\",\"list_direction\":\"desc\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"radius\":0,\"region\":\"east coast\",\"team_preference\":\"single\"},\"search_type\":\"job\",\"send_frequency\":0}"

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request POST \
              --url https://www.truckersearch.com/v1/alerts \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT' \
              --data '{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}'
        - lang: Shell_httpie
          source: |-
            echo '{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}' |  \
              http POST https://www.truckersearch.com/v1/alerts \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method POST \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --body-data '{"notification_medium":"email","only_new":false,"search_parameters":{"city":"<ADD EXAMPLE VALUE>","driver_distance":"local","driver_experience":0,"driver_type":"other","license_type":"A","list_direction":"desc","list_order":"<ADD EXAMPLE VALUE>","radius":0,"region":"east coast","team_preference":"single"},"search_type":"job","send_frequency":0}' \
              --output-document \
              - https://www.truckersearch.com/v1/alerts
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]
            let parameters = [
              "notification_medium": "email",
              "only_new": false,
              "search_parameters": [
                "city": "<ADD EXAMPLE VALUE>",
                "driver_distance": "local",
                "driver_experience": 0,
                "driver_type": "other",
                "license_type": "A",
                "list_direction": "desc",
                "list_order": "<ADD EXAMPLE VALUE>",
                "radius": 0,
                "region": "east coast",
                "team_preference": "single"
              ],
              "search_type": "job",
              "send_frequency": 0
            ]

            let postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.truckersearch.com/v1/alerts")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "POST"
            request.allHTTPHeaderFields = headers
            request.HTTPBody = postData

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    x-restlet:
      section: ALERTS
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "X-RESTLET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/alerts");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: Method not supported
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/alerts\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/alerts")
              .method("X-RESTLET", null)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.customMethod("X-RESTLET","https://www.truckersearch.com/v1/alerts")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.truckersearch.com/v1/alerts",
              "method": "X-RESTLET",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("X-RESTLET", "https://www.truckersearch.com/v1/alerts");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "X-RESTLET",
              "hostname": "www.truckersearch.com",
              "port": null,
              "path": "/v1/alerts",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'X-RESTLET',
              url: 'https://www.truckersearch.com/v1/alerts',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("X-RESTLET", "https://www.truckersearch.com/v1/alerts");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.truckersearch.com/v1/alerts"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"X-RESTLET"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.truckersearch.com/v1/alerts" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers (Code.method_of_string "X-RESTLET") uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("X-RESTLET",
            "https://www.truckersearch.com/v1/alerts");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.truckersearch.com/v1/alerts",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "X-RESTLET",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            HttpRequest::methodRegister('X-RESTLET');
            $request = new HttpRequest();
            $request->setUrl('https://www.truckersearch.com/v1/alerts');
            $request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.truckersearch.com/v1/alerts');
            $request->setRequestMethod('X-RESTLET');
            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.truckersearch.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("X-RESTLET", "/v1/alerts", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.truckersearch.com/v1/alerts"

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("X-RESTLET", url, headers=headers)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            class Net::HTTP::X-restlet < Net::HTTPRequest
              METHOD = 'X-RESTLET'
              REQUEST_HAS_BODY = 'false'
              RESPONSE_HAS_BODY = true
            end

            url = URI("https://www.truckersearch.com/v1/alerts")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::X-restlet.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request X-RESTLET \
              --url https://www.truckersearch.com/v1/alerts \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE'
        - lang: Shell_httpie
          source: |-
            http X-RESTLET https://www.truckersearch.com/v1/alerts \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method X-RESTLET \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - https://www.truckersearch.com/v1/alerts
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.truckersearch.com/v1/alerts")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "X-RESTLET"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
  /end_user_authentications:
    delete:
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
      responses:
        '204':
          description: Status 204
      summary: Log out.
      tags:
        - end_user_authentications
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/end_user_authentications");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.truckersearch.com/v1/end_user_authentications");
            var request = new RestRequest(Method.DELETE);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/end_user_authentications")
              .delete(null)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.delete("https://www.truckersearch.com/v1/end_user_authentications")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://www.truckersearch.com/v1/end_user_authentications",
              "method": "DELETE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("DELETE", "https://www.truckersearch.com/v1/end_user_authentications");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "DELETE",
              "hostname": "www.truckersearch.com",
              "port": null,
              "path": "/v1/end_user_authentications",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url: 'https://www.truckersearch.com/v1/end_user_authentications',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("DELETE", "https://www.truckersearch.com/v1/end_user_authentications");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://www.truckersearch.com/v1/end_user_authentications"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"DELETE"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://www.truckersearch.com/v1/end_user_authentications" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers `DELETE uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("DELETE",
            "https://www.truckersearch.com/v1/end_user_authentications");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://www.truckersearch.com/v1/end_user_authentications",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://www.truckersearch.com/v1/end_user_authentications');
            $request->setMethod(HTTP_METH_DELETE);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://www.truckersearch.com/v1/end_user_authentications');
            $request->setRequestMethod('DELETE');
            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("www.truckersearch.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("DELETE", "/v1/end_user_authentications", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://www.truckersearch.com/v1/end_user_authentications"

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("DELETE", url, headers=headers)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://www.truckersearch.com/v1/end_user_authentications")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request DELETE \
              --url https://www.truckersearch.com/v1/end_user_authentications \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT'
        - lang: Shell_httpie
          source: |-
            http DELETE https://www.truckersearch.com/v1/end_user_authentications \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method DELETE \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - https://www.truckersearch.com/v1/end_user_authentications
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://www.truckersearch.com/v1/end_user_authentications")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "DELETE"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    get:
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
      responses:
        '200':
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_1'
      summary: Get a users status.
      tags:
        - end_user_authentications
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://www.truckersearch.com/v1/end_user_authentications");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://www.truckersearch.com/v1/end_user_authentications");
            var request = new RestRequest(Method.GET);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://www.truckersearch.com/v1/end_user_authentications\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://www.truckersearch.com/v1/end_user_authentications")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.get("https://www.truckersearch.com/v1/end_user_authentications")
              .header("Accept", "application/json")
[...]
