---
swagger: "2.0"
info:
  description: "In order to use the Trucker Search API please first contact us to\
    \ get an API Token. This token needs to be sent as a HTTP header argument in every\
    \ request to our API.\n\napi-token=“SECRET KEY”\n\nPlease keep your api-token\
    \ a secret. If the token is compromised please contact us to get a new one.\n\n\
    This api token authenticates your application and gives it access to the API.\n\
    \nThe API token should not be confused with the end-user-token. That token is\
    \ given to you via the end_user_authentications endpoint when the user logs in.\
    \ This token is needed in order to use certain features, and get certain sensitive\
    \ information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers."
  version: "1.0.0"
  title: "Trucker Search API"
  contact: {}
host: "www.truckersearch.com"
basePath: "/api"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- api_key: []
paths:
  /jobs:
    get:
      tags:
      - "jobs"
      summary: "Get logged in user's job ads."
      description: "Get a list of the logged in users jobs."
      parameters:
      - name: "id"
        in: "query"
        required: false
        type: "array"
        description: "Optionally just return a few jobs."
        items:
          type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/job_list_user"
    post:
      tags:
      - "jobs"
      summary: "Post a new job ad."
      description: "Create a new Job ad for the currently logged in user."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/job_data"
      responses:
        201:
          description: "Status 201"
          headers:
            url:
              type: "string"
              description: "A url pointing to the newly created resource."
              x-example: ".../jobs/?id=1234"
    delete:
      summary: "Delete the users job ad."
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "string"
        description: "You can only delete 1 job at a time, and only if that Job is\
          \ both not active, and does not have any days left."
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    patch:
      tags:
      - "jobs"
      summary: "Update a Job ad."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/job_data_patch"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "JOBS"
  /jobs/boards:
    get:
      summary: "Get a list of jobs"
      description: "Gets a list of other people's jobs."
      parameters:
      - name: "state"
        in: "query"
        required: false
        type: "string"
      - name: "range"
        in: "query"
        required: false
        type: "string"
        enum:
        - "OTR"
        - "local"
      - name: "region"
        in: "query"
        required: false
        type: "string"
        enum:
        - "east coast"
        - "west coast"
        - "midwest"
        - "nationwide"
        - "north east"
        - "north west"
        - "south east"
        - "south west"
        - "n/a local job"
      - name: "type"
        in: "query"
        required: false
        type: "string"
        enum:
        - "single"
        - "team"
      - name: "page_number"
        in: "query"
        required: false
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "returns a list of jobs."
          schema:
            $ref: "#/definitions/job_list"
    x-restlet:
      section: "JOBS"
  /jobs/status:
    get:
      tags:
      - "jobs"
      summary: "Get the status of a job ad."
      description: "This method will return back enough information to determine if\
        \ a job ad is runnig, and when it will stop."
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "integer"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "bill_method"
            - "days_left"
            - "expires_after"
            type: "object"
            properties:
              days_left:
                type: "string"
                description: "If the Job is not active, this value tells how many\
                  \ days the Job can be run for before payment."
              expires_after:
                type: "string"
              bill_method:
                type: "string"
                enum:
                - "manual"
                - "automatic"
    post:
      summary: "Activate a job ad."
      description: "This method will only work if the add has days left of > 0."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          properties:
            id:
              type: "string"
              description: "The id of the job ad to activate."
      responses:
        201:
          description: "Status 201"
          headers:
            url:
              type: "string"
              description: "The board location of the active job ad."
    delete:
      tags:
      - "jobs"
      summary: "Decativate a Job ad"
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "integer"
        description: "The job ad to deactivate."
      - name: "end-user-auth"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "JOBS"
  /resumes:
    get:
      tags:
      - "resumes"
      summary: "Get a list of the users resumes."
      parameters:
      - name: "id"
        in: "query"
        required: false
        type: "integer"
        description: "Optionally just get one resume."
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "list"
            type: "object"
            properties:
              list:
                type: "array"
                items:
                  $ref: "#/definitions/resume_data"
    post:
      tags:
      - "resumes"
      summary: "Add a new resume."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/resume_data"
      responses:
        201:
          description: "Status 200"
          headers:
            url:
              type: "string"
              description: "Link to the newly created resume."
    delete:
      tags:
      - "resumes"
      summary: "Delete the resume"
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    patch:
      tags:
      - "resumes"
      summary: "Update a resume."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/resume_data_optional"
      responses:
        200:
          description: "Status 200"
    x-restlet:
      section: "RESUMES"
  /resumes/boards:
    get:
      tags:
      - "resumes"
      summary: "Get a list of Resumes"
      description: "Behind the scenes a resume goes through an appoval process before\
        \ it will show up on a board. This could be a few seconds, or a few days.\
        \ The resume poster can always se their resume, but until it is approved the\
        \ resume won't be displayed on the board."
      parameters:
      - name: "city"
        in: "query"
        required: false
        type: "string"
        description: "If this option is included we will use the first state in the\
          \ array."
        maxLength: 20
      - name: "state"
        in: "query"
        required: false
        type: "array"
        description: "A list of state codes."
        items:
          type: "string"
          minLength: 2
          maxLength: 2
        x-example: "?state=\"MO,AR,IL,KY\""
      - name: "radius"
        in: "query"
        required: false
        type: "integer"
        description: "Will be set if city is."
        default: 30
        minimum: 1
        maximum: 30
      - name: "drive_type"
        in: "query"
        required: false
        type: "string"
        enum:
        - "student"
        - "owner operator"
        - "other"
        - "company driver"
      - name: "trailer_experience"
        in: "query"
        required: false
        type: "string"
        enum:
        - "V"
        - "F"
        - "R"
        - "HOP"
        - "AC"
        - "HOP"
        - "S"
      - name: "driver_region"
        in: "query"
        required: false
        type: "string"
        enum:
        - "nationwide"
        - "east coast"
        - "west coast"
        - "midwest"
      - name: "team_preference"
        in: "query"
        required: false
        type: "string"
        enum:
        - "team"
        - "single"
      - name: "driver_distance"
        in: "query"
        required: false
        type: "string"
        enum:
        - "local"
        - "OTR"
      - name: "driver_experience"
        in: "query"
        required: false
        type: "integer"
        minimum: 0
      - name: "page_number"
        in: "query"
        required: false
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "list"
            - "page_number"
            - "total_items"
            - "total_pages"
            type: "object"
            properties:
              list:
                type: "array"
                items:
                  $ref: "#/definitions/resume_board_data"
              page_number:
                type: "integer"
              total_items:
                type: "integer"
              total_pages:
                type: "integer"
    x-restlet:
      section: "RESUMES"
  /messages:
    get:
      summary: "Get a conversation."
      parameters:
      - name: "contact_id"
        in: "query"
        required: false
        type: "string"
        description: "Who the conversation is with."
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "list"
            type: "object"
            properties:
              list:
                type: "array"
                description: "conversation in chronological order"
                items:
                  required:
                  - "id"
                  - "message"
                  - "sender"
                  - "sent"
                  - "status"
                  type: "object"
                  properties:
                    id:
                      type: "string"
                      description: "I don't think there is a reason to expose this\
                        \ field."
                    sender:
                      type: "integer"
                      description: "Who sent the message, the logged in user, or the\
                        \ contact."
                    message:
                      type: "string"
                    sent:
                      type: "string"
                      format: "date-time"
                    status:
                      type: "string"
                      enum:
                      - "read"
                      - "sent"
    post:
      tags:
      - "messages"
      summary: "Send a message"
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "contact"
          - "message"
          properties:
            message:
              type: "string"
              description: "This can contain a small list of html tags."
            contact:
              type: "integer"
              description: "Who the message is being sent to."
      responses:
        200:
          description: "Status 200"
    x-restlet:
      section: "MESSAGES"
  /messages/contacts:
    get:
      tags:
      - "messages"
      - "contacts"
      summary: "Get a list of contacts."
      description: "There is no get all contacts."
      parameters:
      - name: "folder_id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "The old return type looked like this.\n\n{\"contacts\":[{\"\
            id\":84997,\"company\":\"TEST\",\"newest_date\":\"2018-06-19 00:17:52\"\
            ,\"contactname\":\"TEST\"},{\"contactname\":\"GLEN HAVEMAN\",\"newest_date\"\
            :\"\",\"company\":\"GLEN HAVEMAN\",\"id\":501819},{\"id\":487630,\"company\"\
            :\"BRAD PAULSON\",\"newest_date\":\"\",\"contactname\":\"BRAD PAULSON\"\
            },{\"id\":471873,\"company\":\"EDUARDO SANTOS\",\"newest_date\":\"\",\"\
            contactname\":\"EDUARDO SANTOS\"},{\"contactname\":\"ABUBAKAR ALI\",\"\
            newest_date\":\"\",\"company\":\"ABUBAKAR ALI\",\"id\":487392},{\"company\"\
            :\"HARPREET BRAR\",\"newest_date\":\"\",\"id\":548467,\"contactname\"\
            :\"HARPREET BRAR\"}]}"
          schema:
            required:
            - "list"
            type: "object"
            properties:
              list:
                type: "array"
                items:
                  required:
                  - "contact_company"
                  - "contact_id"
                  - "contact_name"
                  - "last_message"
                  type: "object"
                  properties:
                    contact_id:
                      type: "integer"
                    contact_name:
                      type: "string"
                    contact_company:
                      type: "string"
                    last_message:
                      type: "string"
                      format: "date-time"
                      description: "If they have sent you a message the newest one's\
                        \ sent date will appear, otherwise it will be null."
    patch:
      tags:
      - "messages"
      - "contacts"
      summary: "Move a contact from one folder to another."
      description: "By default all new contacts end up in Active, or Pending depending\
        \ on who sent a message. Also users are unable to \"delete\" contacts, but\
        \ you can simulate that using this endpoint to move to Trash."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "id"
          - "new_folder"
          - "old_folder"
          properties:
            id:
              type: "integer"
              description: "Contact to move."
            old_folder:
              type: "integer"
            new_folder:
              type: "integer"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "MESSAGES"
  /messages/folders:
    get:
      tags:
      - "messages"
      - "folders"
      summary: "Get a list of folders"
      parameters:
      - name: "id"
        in: "query"
        required: false
        type: "array"
        description: "Just get a few folders. This takes the place of a specific new\
          \ count function."
        items:
          type: "integer"
        x-example: "?id=2334&id=3324"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "list"
            type: "object"
            description: "Current version doesn't really work with the documentation.\
              \  because of variable folder names. It looks like this.\n\n{\"Active\"\
              :0,\"Trash\":0,\"test 5\":0,\"Pending\":0,\"TrucksNcars\":0,\"new folder\
              \ 2\":0,\"Deleted\":0,\"test1\":0,\"NewFolderTest\":0}"
            properties:
              list:
                type: "array"
                items:
                  required:
                  - "id"
                  - "name"
                  - "new_count"
                  type: "object"
                  properties:
                    id:
                      type: "integer"
                      description: "folder id"
                    name:
                      type: "string"
                      description: "Folder Name"
                    new_count:
                      type: "integer"
                      description: "How many new messages in that folder."
    post:
      tags:
      - "messages"
      - "folders"
      summary: "Add a folder"
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "name"
          properties:
            name:
              type: "string"
              description: "Name of the folder to be added."
          description: "You can use any name that has not already been taken. Certain\
            \ folders are automatically created, the first time a message is sent\
            \ or recieved. The names of these folders are reserved and cannot be added,\
            \ modified or deleted.\n\nCurrently they are Active, Pending, Deleted,\
            \ and Trash."
      responses:
        201:
          description: "Status 201"
          headers:
            url:
              type: "string"
              description: "Location of the new folder."
    delete:
      tags:
      - "folders"
      - "messages"
      summary: "Remove a custom folder."
      description: "Active, Pending, Trash, and Deleted are special folders, and this\
        \ command will ignore them."
      parameters:
      - name: "id"
        in: "query"
        required: true
        type: "string"
        description: "Deletes one folder at a time."
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    patch:
      summary: "Update a folder name."
      description: "Special folders will ignore this."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "new_name"
          properties:
            id:
              type: "integer"
            new_name:
              type: "string"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "MESSAGES"
  /messages/count:
    get:
      tags:
      - "messages"
      summary: "Returns how many unread messages the logged in user has."
      parameters:
      - name: "contact"
        in: "query"
        required: false
        type: "string"
        description: "Just return a count of new messages from one contact."
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "count"
            type: "object"
            properties:
              count:
                type: "integer"
    x-restlet:
      section: "MESSAGES"
  /alerts:
    get:
      tags:
      - "alerts"
      summary: "Get a list of alerts."
      description: "Get a list of alerts. You can optionally limit the list by specifcying\
        \ alerts by their alert_id."
      parameters:
      - name: "alert_id"
        in: "query"
        required: false
        type: "array"
        description: "only get a subset of alerts. As this is a get request this is\
          \ specified as a query string parameter"
        items:
          type: "integer"
      - name: "end-user-token"
        in: "header"
        required: false
        type: "string"
        description: "TS still has anonymous login. If you don't use an EUA you must\
          \ use an e-mail address."
      - name: "email-address"
        in: "header"
        required: false
        type: "string"
        description: "Will be ignored if there is an EUA token."
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "list"
            type: "object"
            properties:
              list:
                type: "array"
                items:
                  $ref: "#/definitions/alert_response_object"
    post:
      tags:
      - "alerts"
      summary: "Create a new alert."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: false
        type: "string"
        description: "This or an email-address must be supplied."
      - name: "email-address"
        in: "header"
        required: false
        type: "string"
        description: "Will be ignored if an EUA token is supplied."
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/alert_request_object"
      responses:
        201:
          description: "Status 201"
          headers:
            url:
              type: "string"
              description: "Location of the new alert."
    delete:
      tags:
      - "alerts"
      summary: "Delete an alert."
      parameters:
      - name: "alert_id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: false
        type: "string"
        description: "This or an e-mail address for non logged in users is required."
      - name: "email-address"
        in: "header"
        required: false
        type: "string"
        description: "Will be ignored for logged in users."
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "ALERTS"
  /favorites:
    get:
      tags:
      - "favorites"
      summary: "Get the favorites."
      parameters:
      - name: "type"
        in: "query"
        required: true
        type: "string"
        enum:
        - "resume"
        - "job"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "object"
            description: "I don't know what this object should look like. It isn't\
              \ complete in it's sandbox."
    post:
      tags:
      - "favorites"
      summary: "Add a favorite"
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "id"
          - "type"
          properties:
            type:
              type: "string"
              enum:
              - "job"
              - "resume"
            id:
              type: "integer"
              description: "The id of the favorite to add."
      responses:
        201:
          description: "Status 201"
    delete:
      tags:
      - "favorites"
      summary: "Remove  a favorite."
      parameters:
      - name: "type"
        in: "query"
        required: true
        type: "string"
        enum:
        - "job"
        - "resume"
      - name: "id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "FAVORITES"
  /favorites/count:
    get:
      tags:
      - "favorites"
      summary: "Get a count of favorites"
      parameters:
      - name: "type"
        in: "query"
        required: true
        type: "string"
        enum:
        - "resume"
        - "job"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "count"
            type: "object"
            properties:
              count:
                type: "integer"
    x-restlet:
      section: "FAVORITES"
  /profiles:
    get:
      tags:
      - "profiles"
      summary: "Get their profile"
      parameters:
      - name: "posting_id"
        in: "query"
        required: true
        type: "integer"
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/profile_response"
    post:
      tags:
      - "profiles"
      summary: "Create a profile"
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/profile_request"
      responses:
        201:
          description: "Status 201"
          headers:
            url:
              type: "string"
    patch:
      tags:
      - "profiles"
      summary: "Update a profile."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          $ref: "#/definitions/profile_request"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "PROFILES"
  /profiles/optins:
    x-restlet:
      section: "PROFILES"
  /profiles/mobile_carriers:
    get:
      tags:
      - "profiles"
      summary: "Get a list of mobile_carriers."
      parameters:
      - name: "carrier_id"
        in: "query"
        required: true
        type: "integer"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "carrier_id"
            - "carrier_name"
            type: "object"
            properties:
              carrier_id:
                type: "integer"
              carrier_name:
                type: "string"
    x-restlet:
      section: "PROFILES"
  /profiles/options:
    get:
      tags:
      - "profiles"
      - "optins"
      summary: "Returns the users optin status."
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "status"
            type: "object"
            properties:
              status:
                type: "string"
                enum:
                - "optin"
                - "noresponse"
                - "optout"
    post:
      tags:
      - "optins"
      - "profiles"
      summary: "Creates and sends an optin code."
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "optin_code"
          properties:
            optin_code:
              type: "string"
              description: "A text string with the code sent."
      responses:
        200:
          description: "Status 200"
    delete:
      tags:
      - "optins"
      - "profiles"
      summary: "Marks the user as opted out."
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    patch:
      tags:
      - "optins"
      - "profiles"
      summary: "Mark a profile as opted in."
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "PROFILES"
  /end_user_authentications:
    get:
      tags:
      - "end_user_authentications"
      summary: "Get a users status."
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "status"
            type: "object"
            properties:
              status:
                type: "string"
                enum:
                - "employer"
                - "driver"
                - "trial"
                - "not logged in"
                - "overdue"
    post:
      tags:
      - "end_user_authentications"
      summary: "Log in."
      consumes: []
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "login"
          - "realm"
          - "secret"
          properties:
            login:
              type: "string"
            realm:
              type: "string"
              description: "email, username."
            secret:
              type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/error_object"
        422:
          description: "Status 422"
          schema:
            required:
            - "code"
            - "description"
            - "error"
            type: "object"
            properties:
              code:
                type: "integer"
              error:
                type: "string"
              description:
                type: "string"
    delete:
      tags:
      - "end_user_authentications"
      summary: "Log out."
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      responses:
        204:
          description: "Status 204"
    x-restlet:
      section: "END_USER_AUTHENTICATIONS"
  /end_user_authentications/passwords:
    get:
      tags:
      - "end_user_authentications"
      summary: "Forgot password"
      parameters:
      - name: "email_address"
        in: "query"
        required: true
        type: "string"
      responses:
        204:
          description: "This will return successful even if we do not have the e-mail\
            \ address in our records."
    patch:
      tags:
      - "end_user_authentications"
      summary: "Update Password"
      consumes: []
      parameters:
      - name: "end-user-token"
        in: "header"
        required: true
        type: "string"
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "new_password"
          - "old_password"
          properties:
            new_password:
              type: "string"
            old_password:
              type: "string"
      responses:
        200:
          description: "Status 200"
    x-restlet:
      section: "END_USER_AUTHENTICATIONS"
  /end_user_authentications/users:
    post:
      tags:
      - "end_user_authentications"
      summary: "Create user"
      consumes: []
      parameters:
      - name: "body"
        in: "body"
        required: true
        schema:
          type: "object"
          required:
          - "email"
          - "password"
          properties:
            email:
              type: "string"
            password:
              type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            required:
            - "end-user-token"
            type: "object"
            description: "Will automatically log them in, and return the needed token."
            properties:
              end-user-token:
                type: "string"
                description: "Their token to show they are logged in."
    x-restlet:
      section: "END_USER_AUTHENTICATIONS"
securityDefinitions:
  api_key:
    description: "This token needs to be sent as a HTTP header argument in every request\
      \ to our API."
    type: "apiKey"
    name: "api-token"
    in: "header"
definitions:
  job_list:
    type: "object"
    required:
    - "list"
    - "page_number"
    - "total_items"
    - "total_pages"
    properties:
      list:
        type: "array"
        items:
          required:
          - "contact"
          - "id"
          - "position"
          type: "object"
          properties:
            id:
              type: "number"
            position:
              required:
              - "description"
              - "range"
              - "region"
              - "type"
              type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                  - "single"
                  - "team"
                range:
                  type: "string"
                  enum:
                  - "OTR"
                  - "local"
                region:
                  type: "string"
                  enum:
                  - "east coast"
                  - "west coast"
                  - "midwest"
                  - "nationwide"
                  - "north east"
                  - "north west"
                  - "south east"
                  - "south west"
                  - "n/a local job"
                image_name:
                  type: "string"
                  maxLength: 32
                description:
                  type: "string"
                  description: "This is a large text field."
                locations:
                  type: "array"
                  items:
                    type: "string"
            contact:
              required:
              - "address"
              - "city"
              - "contact"
              - "name"
              - "phone"
              - "state"
              - "zip"
              type: "object"
              description: "The contact information for this ad."
              properties:
                id:
                  type: "integer"
                  description: "This is the id you would use to send a message to\
                    \ this employer. Only logged in users can see this."
                name:
                  type: "string"
                  maxLength: 45
                contact:
                  type: "string"
                  maxLength: 45
                address:
                  type: "string"
                  maxLength: 64
                city:
                  type: "string"
                  maxLength: 45
                state:
                  type: "string"
                  maxLength: 2
                zip:
                  type: "string"
                  maxLength: 10
                phone:
                  type: "integer"
                website:
                  type: "string"
                  maxLength: 500
                email:
                  type: "string"
                  maxLength: 45
      page_number:
        type: "integer"
      total_pages:
        type: "integer"
      total_items:
        type: "integer"
    x-restlet:
      section: "JOBS"
  job_data:
    type: "object"
    required:
    - "contact"
    - "position"
    properties:
      contact:
        required:
        - "address"
        - "city"
        - "contact"
        - "email"
        - "name"
        - "phone"
        - "state"
        - "website"
        - "zip"
        type: "object"
        properties:
          name:
            type: "string"
            maxLength: 45
          contact:
            type: "string"
            maxLength: 45
          address:
            type: "string"
            maxLength: 64
          city:
            type: "string"
            maxLength: 45
          state:
            type: "string"
            maxLength: 2
          zip:
            type: "string"
            maxLength: 10
          phone:
            type: "integer"
          website:
            type: "string"
            maxLength: 500
          email:
            type: "string"
            maxLength: 45
      position:
        required:
        - "locations"
        - "range"
        - "region"
        type: "object"
        properties:
          range:
            type: "string"
            enum:
            - "single"
            - "team"
          region:
            type: "string"
            enum:
            - "OTR"
            - "local"
          image:
            type: "string"
            format: "binary"
            description: "We accept an image file of up to 1MB in size. All images\
              \ will be resized to 160x160."
          description:
            type: "string"
            description: "This can be long form text."
          locations:
            type: "array"
            items:
              type: "string"
    x-restlet:
      section: "JOBS"
  job_data_patch:
    type: "object"
    required:
    - "contact"
    - "id"
    - "position"
    properties:
      id:
        type: "integer"
        description: "The Job ad to patch."
      contact:
        type: "object"
        description: "As long as 1 sub element from contact or position is filled\
          \ in this will b ea valid request."
        properties:
          name:
            type: "string"
            maxLength: 45
          contact:
            type: "string"
            maxLength: 45
          address:
            type: "string"
            maxLength: 64
          city:
            type: "string"
            maxLength: 45
          state:
            type: "string"
            maxLength: 2
          zip:
            type: "string"
            maxLength: 10
          phone:
            type: "integer"
          website:
            type: "string"
            maxLength: 500
          email:
            type: "string"
            maxLength: 45
      position:
        type: "object"
        description: "As long as 1 sub element from contact or position is filled\
          \ in this will b ea valid request."
        properties:
          range:
            type: "string"
            enum:
            - "single"
            - "team"
          region:
            type: "string"
            enum:
            - "OTR"
            - "local"
          image:
            type: "string"
            format: "binary"
            description: "We accept an image file of up to 1MB in size. All images\
              \ will be resized to 160x160."
          description:
            type: "string"
            description: "This can be long form text."
          locations:
            type: "string"
    x-restlet:
      section: "JOBS"
  job_list_user:
    type: "object"
    required:
    - "list"
    - "page_number"
    - "total_items"
    - "total_pages"
    properties:
      list:
        type: "array"
        items:
          required:
          - "bill_method"
          - "contact"
          - "days_left"
          - "expires_after"
          - "id"
          - "position"
          type: "object"
          properties:
            id:
              type: "number"
            position:
              required:
              - "description"
              - "range"
              - "region"
              - "type"
              type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                  - "single"
                  - "team"
                range:
                  type: "string"
                  enum:
                  - "OTR"
                  - "local"
                region:
                  type: "string"
                  enum:
                  - "east coast"
                  - "west coast"
                  - "midwest"
                  - "nationwide"
                  - "north east"
                  - "north west"
                  - "south east"
                  - "south west"
                  - "n/a local job"
                image_name:
                  type: "string"
                  maxLength: 32
                description:
                  type: "string"
                  description: "This is a large text field."
                locations:
                  type: "array"
                  items:
                    type: "string"
            contact:
              required:
              - "address"
              - "city"
              - "contact"
              - "name"
              - "phone"
              - "state"
              - "zip"
              type: "object"
              description: "The contact information for this ad."
              properties:
                name:
                  type: "string"
                  maxLength: 45
                contact:
                  type: "string"
                  maxLength: 45
                address:
                  type: "string"
                  maxLength: 64
                city:
                  type: "string"
                  maxLength: 45
                state:
                  type: "string"
                  maxLength: 2
                zip:
                  type: "string"
                  maxLength: 10
                phone:
                  type: "integer"
                website:
                  type: "string"
                  maxLength: 500
                email:
                  type: "string"
                  maxLength: 45
            days_left:
              type: "integer"
              description: "A positive value indicates the ad is both inactive, and\
                \ can be run for that number of days."
            expires_after:
              type: "string"
              format: "date"
              description: "If this date is set for today or in the future the job\
                \ ad is currently active."
            bill_method:
              type: "string"
              description: "Whether or not the add will automatically renew."
              enum:
              - "manual"
              - "automatic"
      page_number:
        type: "integer"
      total_pages:
        type: "integer"
      total_items:
        type: "integer"
    x-restlet:
      section: "JOBS"
  resume_data:
    type: "object"
    required:
    - "contact"
    - "driving_record"
    - "experience"
    - "id"
    properties:
      id:
        type: "integer"
      contact:
        required:
        - "address"
        - "city"
        - "fax_number"
        - "first_name"
        - "home_phone"
        - "last_name"
        - "state"
        - "website_address"
        - "work_phone"
        - "zip"
        type: "object"
        properties:
          first_name:
            type: "string"
            maxLength: 20
          last_name:
            type: "string"
            maxLength: 20
          address:
            type: "string"
            maxLength: 40
          city:
            type: "string"
            maxLength: 30
          state:
            type: "string"
            maxLength: 4
          zip:
            type: "string"
            maxLength: 10
          home_phone:
            type: "integer"
            description: "DEVNOTE: Look into why this is ridiculous and see if we\
              \ can drop it it to 11 or 13"
            maximum: 20
          work_phone:
            type: "integer"
            description: "Same as home phone"
            maximum: 20
          fax_number:
            type: "integer"
            description: "Should we depricate this? How many new resumes come with\
              \ this?"
            maximum: 20
          website_address:
            type: "string"
            maxLength: 40
      driving_record:
        required:
        - "accidents"
        - "age"
        - "gender"
        - "license"
        - "tickets"
        type: "object"
        properties:
          license:
            type: "string"
            enum:
            - "Class A"
            - "Class B"
            - "Neither"
          age:
            type: "string"
            enum:
            - "18-20"
            - "21-25"
            - "26-30"
            - "Over 30"
          gender:
            type: "string"
            enum:
            - "male"
            - "female"
          tickets:
            type: "integer"
            minimum: 0
          accidents:
            type: "integer"
            minimum: 0
      job_preference:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
            - "Other"
            - "Student"
            - "Company"
            - "Owner/Operator"
          distance:
            type: "string"
            enum:
            - "OTR"
            - "local"
          region:
            type: "string"
            enum:
            - "east coast"
            - "midwest"
            - "west coast"
            - "nationwide"
          team_preference:
            type: "string"
            enum:
            - "single"
            - "team"
      experience:
        required:
        - "current_employer"
        - "current_years_experience"
        - "felony"
        - "previous_emplayer"
        - "previous_years_experience"
        - "total_years_experience"
        type: "object"
        properties:
          total_years_experience:
            type: "integer"
            minimum: 0
          current_employer:
            type: "string"
            maxLength: 40
          current_years_experience:
            type: "integer"
            minimum: 0
          previous_emplayer:
            type: "string"
            maxLength: 40
          previous_years_experience:
            type: "integer"
            minimum: 0
          trailer_experience:
            type: "array"
            description: "You can have up to an additional 4 custom trailers of a\
              \ length of 6 or less each."
            items:
              type: "string"
              enum:
              - "V"
              - "R"
              - "F"
              - "AC"
              - "HOP"
              - "TANK"
              - "S"
              minLength: 1
              maxLength: 6
          felony:
            type: "boolean"
          felony_reason:
            type: "string"
      comments:
        type: "string"
    example: "A resume."
    x-restlet:
      section: "RESUMES"
  resume_data_optional:
    type: "object"
    required:
    - "id"
    properties:
      id:
        type: "integer"
      contact:
        type: "object"
        properties:
          first_name:
            type: "string"
            maxLength: 20
          last_name:
            type: "string"
            maxLength: 20
          address:
            type: "string"
            maxLength: 40
          city:
            type: "string"
            maxLength: 30
          state:
            type: "string"
            maxLength: 4
          zip:
            type: "string"
            maxLength: 10
          home_phone:
            type: "integer"
            description: "DEVNOTE: Look into why this is ridiculous and see if we\
              \ can drop it it to 11 or 13"
            maximum: 20
          work_phone:
            type: "integer"
            description: "Same as home phone"
            maximum: 20
          fax_number:
            type: "integer"
            description: "Should we depricate this? How many new resumes come with\
              \ this?"
            maximum: 20
          website_address:
            type: "string"
            maxLength: 40
      driving_record:
        type: "object"
        properties:
          license:
            type: "string"
            enum:
            - "Class A"
            - "Class B"
            - "Neither"
          age:
            type: "string"
            enum:
            - "18-20"
            - "21-25"
            - "26-30"
            - "Over 30"
          gender:
            type: "string"
            enum:
            - "male"
            - "female"
          tickets:
            type: "integer"
            minimum: 0
          accidents:
            type: "integer"
            minimum: 0
      job_preference:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
            - "Other"
            - "Student"
            - "Company"
            - "Owner/Operator"
          distance:
            type: "string"
            enum:
            - "OTR"
            - "local"
          region:
            type: "string"
            enum:
            - "east coast"
            - "midwest"
            - "west coast"
            - "nationwide"
          team_preference:
            type: "string"
            enum:
            - "single"
            - "team"
      experience:
        type: "object"
        properties:
          total_years_experience:
            type: "integer"
            minimum: 0
          current_employer:
            type: "string"
            maxLength: 40
          current_years_experience:
            type: "integer"
            minimum: 0
          previous_emplayer:
            type: "string"
            maxLength: 40
          previous_years_experience:
            type: "integer"
            minimum: 0
          trailer_experience:
            type: "array"
            description: "You can have up to an additional 4 custom trailers of a\
              \ length of 6 or less each."
            items:
              type: "string"
              enum:
              - "V"
              - "R"
              - "F"
              - "AC"
              - "HOP"
              - "TANK"
              - "S"
              minLength: 1
              maxLength: 6
          felony:
            type: "boolean"
          felony_reason:
            type: "string"
      comments:
        type: "string"
    x-restlet:
      section: "RESUMES"
  resume_board_data:
    type: "object"
    required:
    - "contact"
    - "created"
    - "driving_record"
    - "experience"
    - "id"
    - "updated"
    properties:
      id:
        type: "integer"
      contact:
        required:
        - "city"
        - "state"
        type: "object"
        properties:
          id:
            type: "integer"
            description: "This is the ID you would use to send a message. Only available\
              \ to logged in users."
          first_name:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 20
          last_name:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 20
          address:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 40
          city:
            type: "string"
            maxLength: 30
          state:
            type: "string"
            maxLength: 4
          zip:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 10
          home_phone:
            type: "integer"
            description: "DEVNOTE: Look into why this is ridiculous and see if we\
              \ can drop it it to 11 or 13. Only available to subscribed users."
            maximum: 20
          work_phone:
            type: "integer"
            description: "Same as home phone. Only available to subscribed users."
            maximum: 20
          fax_number:
            type: "integer"
            description: "Should we depricate this? How many new resumes come with\
              \ this? Only available to subscribed users."
            maximum: 20
          website_address:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 40
      driving_record:
        required:
        - "accidents"
        - "age"
        - "gender"
        - "license"
        - "tickets"
        type: "object"
        properties:
          license:
            type: "string"
            enum:
            - "Class A"
            - "Class B"
            - "Neither"
          age:
            type: "string"
            enum:
            - "18-20"
            - "21-25"
            - "26-30"
            - "Over 30"
          gender:
            type: "string"
            enum:
            - "male"
            - "female"
          tickets:
            type: "integer"
            minimum: 0
          accidents:
            type: "integer"
            minimum: 0
      job_preference:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
            - "Other"
            - "Student"
            - "Company"
            - "Owner/Operator"
          distance:
            type: "string"
            enum:
            - "OTR"
            - "local"
          region:
            type: "string"
            enum:
            - "east coast"
            - "midwest"
            - "west coast"
            - "nationwide"
          team_preference:
            type: "string"
            enum:
            - "single"
            - "team"
      experience:
        required:
        - "current_years_experience"
        - "felony"
        - "previous_years_experience"
        - "total_years_experience"
        type: "object"
        properties:
          total_years_experience:
            type: "integer"
            minimum: 0
          current_employer:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 40
          current_years_experience:
            type: "integer"
            minimum: 0
          previous_emplayer:
            type: "string"
            description: "Only available to subscribed users."
            maxLength: 40
          previous_years_experience:
            type: "integer"
            minimum: 0
          trailer_experience:
            type: "array"
            description: "You can have up to an additional 4 custom trailers of a\
              \ length of 6 or less each."
            items:
              type: "string"
              enum:
              - "V"
              - "R"
              - "F"
              - "AC"
              - "HOP"
              - "TANK"
              - "S"
              minLength: 1
              maxLength: 6
          felony:
            type: "boolean"
          felony_reason:
            type: "string"
            description: "Only available to subscribed users."
      comments:
        type: "string"
        description: "Only available to subscribed users."
      created:
        type: "string"
        format: "date-time"
      updated:
        type: "string"
        format: "date-time"
    example: "A resume."
    x-restlet:
      section: "RESUMES"
  alert_response_object:
    type: "object"
    required:
    - "alert_id"
    - "driver_experience"
    - "driver_location"
    - "driver_region"
    - "driver_route"
    - "driver_team"
    - "driver_type"
    - "frequency"
    - "last_sent"
    - "only_new"
    - "trailers"
    properties:
      alert_id:
        type: "integer"
      frequency:
        type: "integer"
        description: "Frequency in minutes that the alert is sent."
        enum:
        - 15
        - 30
        - 60
        - 240
        - 480
        - 1440
      last_sent:
        type: "string"
        format: "date-time"
        description: "Last time the alert was sent."
      only_new:
        type: "boolean"
        description: "Whether to sent both new and updated resumes, or just new resumes."
      driver_location:
        type: "string"
      driver_type:
        type: "string"
      trailers:
        type: "string"
      driver_route:
        type: "string"
      driver_team:
        type: "boolean"
      driver_region:
        type: "string"
      driver_experience:
        type: "integer"
    x-restlet:
      section: "ALERTS"
  alert_request_object:
    type: "object"
    required:
    - "frequency"
    - "last_sent"
    - "only_new"
    properties:
      frequency:
        type: "integer"
        description: "Frequency in minutes that the alert is sent."
        enum:
        - 15
        - 30
        - 60
        - 240
        - 480
        - 1440
      last_sent:
        type: "string"
        format: "date-time"
        description: "Last time the alert was sent."
      only_new:
        type: "boolean"
        description: "Whether to sent both new and updated resumes, or just new resumes."
      driver_location:
        type: "string"
      driver_type:
        type: "string"
      trailers:
        type: "string"
      driver_route:
        type: "string"
      driver_team:
        type: "boolean"
      driver_region:
        type: "string"
      driver_experience:
        type: "integer"
    x-restlet:
      section: "ALERTS"
  profile_response:
    type: "object"
    required:
    - "address"
    - "city"
    - "company"
    - "contact_extension"
    - "contact_name"
    - "contact_number"
    - "fax_number"
    - "mobile_number"
    - "state"
    - "web_page"
    - "zip"
    properties:
      contact_name:
        type: "string"
      company:
        type: "string"
      address:
        type: "string"
      city:
        type: "string"
      state:
        type: "string"
      zip:
        type: "string"
      contact_number:
        type: "integer"
      contact_extension:
        type: "integer"
      mobile_number:
        type: "integer"
      fax_number:
        type: "integer"
      web_page:
        type: "string"
    x-restlet:
      section: "PROFILES"
  profile_request:
    type: "object"
    properties:
      contact_name:
        type: "string"
      company:
        type: "string"
      address:
        type: "string"
      city:
        type: "string"
      state:
        type: "string"
      zip:
        type: "string"
      contact_number:
        type: "integer"
      contact_extension:
        type: "integer"
      mobile_number:
        type: "integer"
      fax_number:
        type: "integer"
      web_page:
        type: "string"
    x-restlet:
      section: "PROFILES"
  error_object:
    type: "object"
    required:
    - "end-user-token"
    properties:
      end-user-token:
        type: "string"
    x-restlet:
      section: "END_USER_AUTHENTICATIONS"
x-restlet:
  sections:
    JOBS: {}
    RESUMES: {}
    MESSAGES: {}
    ALERTS: {}
    FAVORITES: {}
    PROFILES: {}
    END_USER_AUTHENTICATIONS: {}
